@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-6">Welcome to Insurance Management System</h2>

    <div>
        <h2 class="display-6">Current Time: <span id="current-time"></span></h2>
    </div>
</div>
