@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to Insurance Management System</h1>

    <div>
        <p class="display-6">Current Time: <span id="current-time"></span></p>
    </div>
</div>
