@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p style="font-size: 4vh; font-weight: lighter;">Welcome to Insurance Management System</p>

    <div>
        <p style="font-size: 2vh;">Current Time: <span id="current-time"></span></p>
    </div>
</div>
